extend layout



block content

     h1 #{title}

     p Math.cos() is applied to #{num1} is #{cos}

     p Math.asin() is applied to #{num2} is #{asin}

     p Math.asinh() is applied to #{num3} is #{asinh}